 <h3>Basic Components for Basic Operations</h3>
<h4>String Iterpolation Or Data Binding</h4>
<p><strong>{{dataBind}}</strong></p>
<br>
<hr>
<h4>Property Binding</h4>
<!-- [disabled]="something" this way something can have true or false as a dynamic value
This is how attributes are binded with a property using property binding
Similarly:
<div [innerText]="allowNewUser"></div> -->
<button class="btn btn-primary" [disabled]="!allowNewUser">Propert Binding</button>
<p><strong>Button Enable: </strong>{{allowNewUser}}</p>
<br>
<hr>
<h4>Event Binding</h4>
<button class="btn btn-primary" [disabled]="!allowNewUser" (click)="changeUserCreatedStatus()">Event Binding</button>
<div>{{userCreatedStatus}}</div>
<br>
<h4>Send Data using Event Binding</h4>
<div>
    <label for="input-data">User Name</label>
    <input type="text" id="input-data" class="form-control" (input)="onUpdateUser($event)"/>
</div>
<div><strong>Typed Data: </strong>{{userName}}</div>
<br>
<h4>Two way Binding</h4>
<p>Change at one place will be reflected Everywhere </p>
<div>
    <label for="input-data1">User Name</label>
    <input type="text" id="input-data1" class="form-control" [(ngModel)]="userNameTwoWay"/>
</div>
<div><strong>Typed Data: </strong>{{userNameTwoWay}}</div>
<br>
<hr>
<h4>NgIf Structural Directives| Structural Directives have * marks</h4>
<div>
    <label for="input-data1">User Name</label>
    <input type="text" id="input-data2" class="form-control" [(ngModel)]="userNameTwoWay"/>
</div>
<button class="btn btn-primary my-2" (click)="changeUserCreatedStatus()">Click to Add</button>
<div *ngIf="isUserCreated;else noUser">UserName {{userNameTwoWay}} got created</div>
<ng-template #noUser>
    <div>UserName not created</div> 
</ng-template>
<br>
<hr>
<h4>NgStyle Directives</h4>
<!-- <div [ngStyle]="{'background-color':'red'}">UserName {{userNameTwoWay} will have dynamic NgStyle</div> -->
<div [ngStyle]="{'background-color':getColor()}">UserName {{userNameTwoWay} will have dynamic NgStyle</div>
<br>
<hr>
<h4>NgFor Directive</h4>
<div *ngFor="let user of users">
    <p>{{user}}</p>
</div>